* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.css-17pwl6t {
  height: 20vh !important;
  bottom: 0px !important;
  top: unset !important;
}

.leaflet-popup-content p {
  margin: 8px !important;
  // padding: 0 !important;
  line-height: 1;
}

.filter-yellow {
  filter: invert(86%) sepia(63%) saturate(3160%) hue-rotate(359deg) brightness(105%) contrast(108%) opacity(0.8);
}

.filter-purple {
  filter: invert(17%) sepia(68%) saturate(5257%) hue-rotate(296deg) brightness(122%) contrast(123%);
}
