* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.css-17pwl6t {
  height: 20vh !important;
  bottom: 0px !important;
  top: unset !important;
}
